<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smates.dbc2.mapper.CountryDao">

	<!-- 查找所有县区记录 -->
	<select id="getAllCountry" resultType="country">
		select * from "a_countryInfo"
	</select>

</mapper>